<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <div class="express-welcome">
      <h1><%= title %></h1>
    </div>
    <div id="vue-app"></div>
    <script src="js/bundle.js"></script>
  </body>
</html>